{% extends 'base.html.twig' %}
{% set page = 'admin' %}

{% block body %}
    <section class="site-hero site-hero-innerpage overlay" data-stellar-background-ratio="0.5" style="background-image: url({{ asset('bundles/app/template/images/big_image_1.jpg')}});">
        <div class="container">
            <div class="row align-items-center site-hero-inner justify-content-center">
                <div class="col-md-12 text-center">
                    <div class="mb-5 element-animate">
                        <h1>Login</h1>
                    </div>
                    <div class="row">
                        <div class="col-md-4 offset-md-4 text-center">
                            <form action="{{ path('admin_login') }}" method="post">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label for="email"></label>
                                        <input type="text" id="email" name="email" class="form-control" placeholder="mail@hotel.at">
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <div class="col-md-12">
                                        <label for="password"></label>
                                        <input type="password" id="password" name="password" class="form-control" placeholder="Password">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 form-group text-center">
                                        <button type="submit" class="btn btn-primary" style="width: 100%"><i class="fas fa-sign-in-alt"></i> Login</button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 form-group text-left">
                                        <a href="#" style="font-size: medium; color: white">Register Now</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END section -->

    <!-- loader -->
    <div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#f4b214"/></svg></div>

{% endblock %}